h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.section1__btn {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
}
.section2__btn {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
}
.section3__btn {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
}
.section3__item {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
}


